footer{
    
    
    padding: 5px 50px;
    margin: 95px 20px 10px 20px;
}

footer .contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
}

footer a{
    font-size: 1rem;
    text-decoration: none;
    color: white;
}