*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(30deg, #00c8f5 0%, #3a47d5 100%);
}


#presentacion .contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 185px 0;
    margin: 80px 50px;
    color: white;
}

#saludo{
    font-size: 2rem;
}

#descripcion{
    font-size: 1.6rem;
}

#presentacion h1{
    font-size: 3rem;
}

header .contenedor{
    display: flex;
    flex-direction: column;  
    padding-top: 3%; 
}

header i{
    font-size: 1.5rem;
    margin-left: 90%;
    margin-right: 10%;
    color: #171d57;
    
}

header i:hover{
    cursor: pointer;
}


