*{
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Barlow Condensed', sans-serif;
    scroll-behavior: smooth;
    background: linear-gradient(30deg, #00d2ff 0%, #3a47d5 100%);
}


#presentacion .contenedor{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 185px 0;
    margin: 100px 50px;
    color: white;
}

#saludo{
    font-size: 2rem;
}

#descripcion{
    font-size: 1.6rem;
}

#presentacion h1{
    font-size: 3rem;
}