#quiensoy .contenedor {
    display: flex;
    flex-direction: column;
}

#quiensoy {
    margin: 10px 0;
    color: white;
    text-align: center;
}

#quiensoy h1 {
    font-size: 1.5rem;
    margin: 20px 0;
}

#quiensoy p {
    font-size: 1.2rem;

}

#sobremi {
    padding: 20px 30px;

}

.texto{
    margin: 25px 10px 50px 10px;
}

.tecnologias {
    margin: 35px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    background-color: white;
    color: black;
    border-radius: 1rem;
    box-shadow: 1px 1px 8px 1px rgb(1,1,1, .2);
    
}

.tecnologias h1{
    font-size: 1.5rem;
}
.tecnologias h4{
    font-size: 1.2rem;
}

.tenologiasdiv {

    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 8px 0;

}

progress{
    margin-top: 5px;
    padding: .5rem 7rem;
}